body{
    font-family: 'Sono', sans-serif;
    margin: 0;
}
.section1{
    background-image: url(flood.jpg);
    text-align: center;
    background-attachment: fixed;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}
.resize{
    color: rgb(230, 101, 247);
    padding-top: 40px;
}
.tag-p1{
    color: #97daf7;
}

.link-border{
    text-decoration: none;
    background-color: #FF6C4F;
    padding: 5px 10px;
    border-radius: 5px;
    color: pink;
    font-size: 13px;
}
#flood-condition{
    background-color: rgb(247, 242, 243);
    margin-bottom: 50px;
}
.section-2{
    display: flex;
    margin-top: 5px;
    
}
.div-class{
    width: 50%;
    margin-left: 20px;
}
.div-class img{
    width: 60%;
    height: 230px;
    padding-top: 4px;
    margin-left: 120px;
}
.p-tag{
  color: #eba40d;
}
.section-3{
    display: flex;
    margin-top: 30px;
    
}
.div-class-1{
    width: 50%;
    margin-left: 60px;
}
.div-class-1 img{
    width: 65%;
    height: 230px;
    padding-top: 4px;
    margin-left: 8px;

}
.section-4{
    text-align:center;
    margin-bottom: 30px;
}
.tag-p2{
    color: rgb(223, 91, 91);
    font-size: 12px;

}
#nav-manu{
margin-left: 250px;
    
}
#nav-manu ul li{
    list-style-type: none;
    margin: 10px;
    float: left;
    color: rgb(43, 106, 146);
    font-size: 14px;
}
#nav-manu ul li a{
    text-decoration: none;
    color: rgb(43, 106, 146);
    font-size: 12px;
    border: 2px rgb(238, 139, 121) solid;
    padding: 10px;
}
#nav-manu ul li a:hover{
    background-color: rgba(149, 187, 211, 0.897);
    color: rgba(110, 2, 29, 0.877);

}
.empty{
    color: rgb(111, 178, 180);
    padding-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.empty hr{
    width: 500px;
}
.empty p{
    font-size: 13px;
}

